* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
body {
  font-family: system-ui, sans-serif;
  padding: 20px;
  /* background-color: rgb(230, 239, 249); */
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  gap: 24px;
}

.item {
  max-width: 250px;
  border: 2px outset #ddd;
  border-top: 2px outset grey;
  border-left: 2px outset grey;
  padding: 8px;
  box-sizing: border-box;
  cursor: pointer;
}
.item:hover {
  border: 4px outset #ddd;
  border-top: 4px outset grey;
  border-left: 4px outset grey;
}
.item img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  display: block;
}

.caption {
  margin-top: 6px;
  font-size: 14px;
  text-align: center;
  display: block;
  text-decoration: underline;
}
.updated {
  font-size: 10px;
  text-align: center;
  color: gray;
}

/* 모바일: 정확히 2개 */
@media (max-width: 768px) {
  .item {
    flex: 0 1 calc(50% - 8px);
    min-width: 160px;
  }
}
